@font-face {
  font-family: "circular-Sp";
  src: url(circular-spotify-text-font/CircularSpotifyText-Bold.otf)
    format("opentype");
}
* {
  margin: 0;
  padding: 0;
  font-family: "circular-Sp";
}

body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 6px;
}

.home {
  background-color: #121212;
  border-radius: 7px;
  margin: 5px;
  padding: 11px;
}

.invert {
  filter: invert(1);
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 20px;
  list-style: none;
  padding-top: 12px;
}

.library {
  background-color: #121212;
  border-radius: 7px;
  padding: 11px;
  margin: 5px;
  min-height: 72vh;
  position: relative;
}

.library i {
  position: absolute;
  right: 25px;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 12px;
  align-items: center;
}

.heading img {
  width: 24px;
}

.footer {
  font-size: 10px;
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer a {
  color: grey;
}

.right {
  width: 75vw;
  background-color: #212121;
  border-radius: 7px;
  margin: 10px 0px 10px 3px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  line-height: 3;
}

.header > * {
  padding: 10px;
}

.nav:last-child{
    padding-left: 20px;
}