@font-face {
  font-family: "circular-Sp-Bold";
  src: url(circular-spotify-text-font/CircularSpotifyText-Bold.otf)
    format("opentype");
}

@font-face {
  font-family: "circular";
  src: url(circular-spotify-text-font/CircularSpotifyText-Book.otf)
    format("opentype");
}
@font-face {
  font-family: "circular-light";
  src: url(circular-spotify-text-font/CircularSpotifyText-Light.otf)
    format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "circular-Sp-Bold";
}

.container {
  display: flex;
  background-color: black;
  color: white;
}

.left {
  width: 29vw;
  padding: 6px;
}

.home {
  background-color: #121212;
  border-radius: 7px;
  margin: 5px;
  padding: 11px;
}

.invert {
  filter: invert(1);
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 20px;
  list-style: none;
  align-items: center;
  padding-top: 12px;
}

.library {
  background-color: #121212;
  border-radius: 7px;
  padding: 11px;
  margin: 5px;
  min-height: 78vh;
  position: relative;
}

.library i {
  position: absolute;
  right: 25px;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 12px;
  align-items: center;
}

.heading img {
  width: 24px;
}

.songList {
  font-family: "circular-light";
  height: 52vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: content-box;
}

.songList::-webkit-scrollbar {
  width: 8px;
}

.songList::-webkit-scrollbar-track {
  background: transparent;
}

.songList::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s ease;
}
.songList:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.songList ul {
  padding: 15px 12px;
}

.songList ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px;
  border: 1px solid white;
  margin: 10px 0;
  border-radius: 7px;
  cursor: pointer;
}

.songList ul li img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.songList ul li img:hover {
  transform: scale(1.25);
}

.songList ul li .info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.songList ul li .info div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 14px;
}

.songList ul li .info div:last-child {
  font-size: 12px;
  color: #aaa;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songList ul li .info > div:hover {
  text-decoration: underline;
}

.songList ul li img:last-child {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  flex-shrink: 0;
}

.footer {
  font-size: 10px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 30px;
  width: 200px;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  /* justify-content: flex-start;*/
}

.footer a {
  color: grey;
}

.right {
  width: 70vw;
  background-color: #121212;
  border-radius: 7px;
  margin: 10px 8px 10px 0px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  border-radius: 7px 7px 0px 0px;
  line-height: 3;
  flex-shrink: 0;
}

.header > * {
  padding: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: content-box;
  position: relative;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s ease;
}
.content:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.nav i {
  padding-left: 15px;
  font-size: 20px;
}

.nav i:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.buttons {
  margin-right: 45px;
}

.signup-btn {
  margin-right: 45px;
  background-color: transparent;
  border: none;
  color: rgb(145, 145, 145);
  font-size: 15px;
}

.signup-btn:hover {
  transform: scale(1.05);
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.login-btn {
  font-family: "circular-Sp-Bold";
  background-color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 3rem;
  align-items: center;
  width: 80px;
  height: 45px;
  /* transition: transform 0.2s ease; Smooth animation */
}

.login-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.popularArtists {
  padding: 20px;
}

.heading {
  font-size: 22px;
  font-weight: 300;
  width: 205px;
}

.heading:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.card {
  min-width: 170px;
  padding: 10px;
  border-radius: 7px;
  margin: 15px 10px 15px 0px;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.card:hover {
  background-color: #252525;
}

.cardContainer {
  font-family: "circular";
  display: flex;
  gap: 10px;
  overflow-x: auto; /* Enables horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical scroll */
  white-space: nowrap; /* Prevents line breaks */
  flex-wrap: nowrap; /* Prevents wrapping to new lines */
  padding-bottom: 10px; /* Optional: space below to avoid scrollbar overlap */
  scroll-behavior: smooth;
}

.cardContainer::-webkit-scrollbar {
  height: 6px;
}
.cardContainer::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 1);
}

.play-icon {
  position: absolute;
  right: 10px;
  top: 150px;
  opacity: 0;
  transition: opacity 0.3s ease;
  transition: all 0.25s ease-in;
}

.card:hover .play-icon {
  opacity: 1;
  top: 130px;
}

.card h3 {
  margin-top: 15px;
  font-size: 1em;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card h3:hover {
  text-decoration: underline;
}

.card p {
  font-size: 0.85em;
  font-weight: 200;
  color: #898888;
  max-width: 200px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p:hover {
  text-decoration: underline;
}

.card-rect img {
  border-radius: 7px;
}

.mainPadding {
  padding: 20px;
}

.playbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #676565;
  min-height: 9vh;
  border-radius: 0 0 7px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 4px;
  gap: 15px;
}

.track {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
}

.songInfo {
  max-width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.songTime {
  max-width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.songButtons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 15px;
}

.songButtons img {
  background: transparent;
  border-radius: 50%;
  transition: transform 0.2s ease;
  /* display: block; */
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.songButtons img:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 1);
  background: transparent;
  outline: none;
}

.seekbar {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 99%;
  background-color: white;
  border-radius: 7px;
  cursor: pointer;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.5s;
}
